.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  padding: 1rem 1rem;
  width: 80%;
  height: 80%;
  border-radius: 1rem;
}
.container {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}
